
				<!-- Footer -->
					<footer id="footer">
						<img src="images/orca.png" alt="Orca Realty logo"></img>
						<p>#204 - 2438 Marine Drive<br />West Vancouver, BC  V7V 1L2</p>
						<p class="copyright">&copy; {{ .Site.Params.copyright }}.</p>
					</footer>

			</div>
		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>
			{{ template "_internal/google_analytics_async.html" . }}

	</body>
</html>
